/*
Based off of the Ayu theme
Original by Dempfi (https://github.com/dempfi/ayu)
*/

.hljs {
  display: block;
  overflow-x: auto;
  background: #242f3c;
  color: #cfe5e6;
}

.hljs-comment,
.hljs-quote {
  color: #5c6773;
  font-style: italic;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #ff33cf;
}

.hljs-number,
.hljs-meta,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #99ffa2;
}

.hljs-string,
.hljs-bullet {
  color: #43d16d;
}

.hljs-title,
.hljs-built_in,
.hljs-section {
  color: #90ff54;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-symbol {
  color: #d633ff;
}

.hljs-name {
    color: #1cbdf3;
}

.hljs-tag {
    color: #2745f3;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #46eaef;
}

.hljs-deletion {
  color: #c01616;
}
